<!doctype html>
<html
	class="no-js"
	data-scheme="{{ settings.color_scheme }}"
	lang="{{ request.locale.iso_code }}"
>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="">
		<link rel="canonical" href="{{ canonical_url }}">
		<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

		{%- if settings.favicon != blank -%}
			<link
				rel="icon"
				type="image/png"
				href="{{ settings.favicon | img_url: '32x32' }}"
			>
		{%- endif -%}

		{%- unless settings.type_header_font.system? -%}
			<link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
		{%- endunless -%}

		<title>{{ page_title }}</title>

		{% if page_description %}
			<meta name="description" content="{{ page_description | escape }}">
		{% endif %}

		{% render 'meta-tags' %}

		<script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
		{%- if settings.quickview_enable -%}
			<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
			<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
		{% endif %}

		{{ content_for_header }}
		
		{% render 'vars' %}
		
		{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
		{{ 'base.css' | asset_url | stylesheet_tag }}

		{%- if settings.predictive_search_enabled -%}
			<link
				rel="stylesheet"
				href="{{ 'component-predictive-search.css' | asset_url }}"
				media="print"
				onload="this.media='all'"
			>
		{%- endif -%}

		{%- unless settings.type_body_font.system? -%}
			<link
				rel="preload"
				as="font"
				href="{{ settings.type_body_font | font_url }}"
				type="font/woff2"
				crossorigin
			>
		{%- endunless -%}
		{%- unless settings.type_header_font.system? -%}
			<link
				rel="preload"
				as="font"
				href="{{ settings.type_header_font | font_url }}"
				type="font/woff2"
				crossorigin
			>
		{%- endunless -%}

		<script>
			document.documentElement.className =
				document.documentElement.className.replace('no-js', 'js');
			if (Shopify.designMode) {
				document.documentElement.classList.add('shopify-design-mode');
			}
		</script>

		<script src="{{ 'jquery-3.6.0.js' | asset_url }}" defer="defer"></script>
		<script
			src="{{ 'swiper-bundle.min.js' | asset_url }}"
			defer="defer"
		></script>
		<script src="{{ 'gsap.min.js' | asset_url }}" defer="defer"></script>
		<script
			src="{{ 'ScrollTrigger.min.js' | asset_url }}"
			defer="defer"
		></script>
		{%- if request.page_type != 'search' and settings.enable_search_modal -%}
			<script src="{{ 'search-modal.js' | asset_url }}" defer="defer"></script>
		{%- endif -%}
		<script src="{{ 'popup.js' | asset_url }}" defer="defer"></script>
		{% if settings.show_back_to_top %}
			<script src="{{ 'scroll-top.js' | asset_url }}" defer="defer"></script>
		{% endif %}
		{% if settings.show_color_swatch %}
			<script src="{{ 'product-card.js' | asset_url }}" defer="defer"></script>
		{% endif %}

		<script>
			let cscoDarkMode = {};

			(function () {
				const body = document.querySelector('html[data-scheme]');

				cscoDarkMode = {
					init: function (e) {
						this.initMode(e);
						window
							.matchMedia('(prefers-color-scheme: dark)')
							.addListener((e) => {
								this.initMode(e);
							});

						window.addEventListener('load', () => {
							document.querySelectorAll('.header__toggle-scheme').forEach(el => {
								el.addEventListener('click', (e) => {
									e.preventDefault();
									if ('auto' === body.getAttribute('data-scheme')) {
										if (
											window.matchMedia('(prefers-color-scheme: dark)').matches
										) {
											cscoDarkMode.changeScheme('light', true);
										} else if (
											window.matchMedia('(prefers-color-scheme: light)').matches
										) {
											cscoDarkMode.changeScheme('dark', true);
										}
									} else {
										if ('dark' === body.getAttribute('data-scheme')) {
											cscoDarkMode.changeScheme('light', true);
										} else {
											cscoDarkMode.changeScheme('dark', true);
										}
									}
								});
							})
						});
					},
					initMode: function (e) {
						let siteScheme = false;
						switch (
							'{{ settings.color_scheme }}' // Field. User’s system preference.
						) {
							case 'dark':
								siteScheme = 'dark';
								break;
							case 'light':
								siteScheme = 'light';
								break;
							case 'system':
								siteScheme = 'auto';
								break;
						}
						if (siteScheme && siteScheme !== body.getAttribute('data-scheme')) {
							this.changeScheme(siteScheme, false);
						}
					},
					changeScheme: function (siteScheme, cookie) {
						body.classList.add('scheme-toggled');
						body.setAttribute('data-scheme', siteScheme);
						if (cookie) {
							localStorage.setItem('_color_schema', siteScheme);
						}
						setTimeout(() => {
							body.classList.remove('scheme-toggled');
						}, 100);
					},
				};
			})();

			cscoDarkMode.init();

			document.addEventListener('shopify:section:load', function () {
				setTimeout(() => {
					cscoDarkMode.init();
				}, 100);
			});
		</script>
	</head>

	<body class="body-template-{{ template.name }} body-template-{{ template | replace: '.', '-' }} template-{{ template.name }} template-{{ template | replace: '.', '-' }}">
		<a class="skip-to-content-link button visually-hidden button--simple" href="#MainContent">
			{{ 'accessibility.skip_to_text' | t }}
		</a>

		{% sections 'header-group' %}
		{% sections 'overlay-group' %}
		{% if settings.show_breadcrumbs %}
			{% render 'breadcrumbs' %}
		{% endif %}
		<main
			id="MainContent"
			class="content-for-layout focus-none"
			role="main"
			tabindex="-1"
		>
			{{ content_for_layout }}
          /*
 * ------------------------------------------------------------
 * IMPORTANT: The contents of this file are auto-generated.
 *
 * This file may be updated by the Shopify admin theme editor
 * or related systems. Please exercise caution as any changes
 * made to this file may be overwritten.
 * ------------------------------------------------------------
 */
{
  "sections": {
    "main": {
      "type": "main-page",
      "disabled": true,
      "settings": {
        "padding_top": "no-indent",
        "padding_bottom": "no-indent"
      }
    },
    "page_LAEkMV": {
      "type": "page",
      "disabled": true,
      "settings": {
        "page": "kurashi-soundsystem-1",
        "margin_top": "no-indent",
        "margin_bottom": "no-indent",
        "padding_top": "m",
        "padding_bottom": "m"
      }
    },
    "grid_banner_LGV3NC": {
      "type": "grid-banner",
      "blocks": {
        "column_xzNrnW": {
          "type": "column",
          "settings": {
            "card_type": "overlay",
            "color_scheme": "background-1",
            "video": "shopify://files/videos/AQPyXjNLX5cTy6yC1174LLtnWscnnS7XL8BF4PWr6icvF8YJSFfFkbJ5JIoZZtvxo8mQwONla8BP38uJjZr6WH_f0aBc-z6jLo-TRuM.mp4",
            "overlay_opacity": 40,
            "card_width": "1",
            "min_height": "medium",
            "align_content": "left",
            "badge": "",
            "heading": "Shop Our MVP Collection",
            "heading_size": "h3",
            "text": "",
            "button_label": "SHOP NOW",
            "button_link": "shopify://collections",
            "button_style": "primary"
          }
        }
      },
      "block_order": [
        "column_xzNrnW"
      ],
      "settings": {
        "margin_top": "no-indent",
        "margin_bottom": "xs"
      }
    },
    "popular_products_LP4EMj": {
      "type": "popular-products",
      "settings": {
        "product_list": [
          "flight-club-v2-hoodie2-colors",
          "live-while-youre-alive-tee",
          "no-friends-tee-rhinestones",
          "red-striped-joggers",
          "skull-hoodie",
          "find-peace-tee-rhinestones"
        ],
        "heading": "Newly Released",
        "description": "<p>DONT MISS OUT</p>",
        "button_label": "GET YOURS NOW",
        "button_link": "shopify://collections/all",
        "button_style": "primary",
        "autoplay": false,
        "stop_autoplay": true,
        "show_arrows": true,
        "slideshow_speed": 1.1,
        "slideshow_delay": 3,
        "image_ratio": "portrait",
        "image_fit": "cover",
        "show_two_cards": true,
        "show_secondary_image": true,
        "show_sku": false,
        "show_vendor": false,
        "show_collection_name": false,
        "show_color_swatch": false,
        "show_desc": false,
        "margin_top": "no-indent",
        "margin_bottom": "no-indent"
      }
    },
    "slideshow_FKzEwT": {
      "type": "slideshow",
      "blocks": {
        "slideshow_item_j6BkPr": {
          "type": "slideshow_item",
          "settings": {
            "color_scheme": "background-2",
            "video": "shopify://files/videos/AQMz1nmKBjtOlEFAC2PJ-wRUoVX-S3XTBRt4Jem4WL1urXc67LosoEZU1-UTn32rJIoLah_bPPi2AnrxUY8R4EbeRykQTAKqLbC_L2g.mp4",
            "badge": "\"Somewhere in Vegas\"",
            "heading": "DONT MISS OUT",
            "text": "USE CODE \"MVP\" FOR 15% OFF",
            "primary_button_label": "CLAIM DISCOUNT",
            "primary_button_link": "",
            "primary_button_style": "secondary",
            "secondary_button_label": "",
            "secondary_button_link": "",
            "overlay_opacity": 20
          }
        }
      },
      "block_order": [
        "slideshow_item_j6BkPr"
      ],
      "settings": {
        "section_layout": "overlay",
        "section_size": "full",
        "content_alignment": "left",
        "image_size": "adapt",
        "is_autoplay": true,
        "is_hover_stop_autoplay": true,
        "show_arrows": true,
        "show_bullets": true,
        "slideshow_speed": 1.1,
        "slideshow_delay": 3,
        "slide_effects": "slide",
        "margin_top": "no-indent",
        "margin_bottom": "no-indent"
      }
    },
    "popular_products_6AexhP": {
      "type": "popular-products",
      "settings": {
        "product_list": [
          "flight-club-v2-hoodie2-colors",
          "live-fast-v2-joggers-1",
          "live-fast-hoodie",
          "live-fast-joggers",
          "live-fast-v2-joggers",
          "live-fast-v2-hoodie",
          "no-friends-tee-rhinestones",
          "rhinestone-joggerd"
        ],
        "heading": "SHOP SWEATSUITS",
        "description": "<p>GET FREE SHIPPING ON ALL SWEATSUIT ORDERS</p>",
        "button_label": "GET FREE SHIPPING",
        "button_link": "",
        "button_style": "primary",
        "autoplay": false,
        "stop_autoplay": true,
        "show_arrows": true,
        "slideshow_speed": 1.1,
        "slideshow_delay": 3,
        "image_ratio": "portrait",
        "image_fit": "cover",
        "show_two_cards": true,
        "show_secondary_image": true,
        "show_sku": false,
        "show_vendor": false,
        "show_collection_name": false,
        "show_color_swatch": false,
        "show_desc": false,
        "margin_top": "xs",
        "margin_bottom": "xs"
      }
    },
    "popular_products_wwEKgH": {
      "type": "popular-products",
      "settings": {
        "product_list": [
          "category-5-longsleeve",
          "find-peace-tee-rhinestones",
          "lost-in-motion-crewneck",
          "motorsport-thermal",
          "red-striped-joggers",
          "rhinestone-joggerd",
          "friends-enemies-tee",
          "no-friends-tee-rhinestones"
        ],
        "heading": "BESTSELLERS",
        "description": "<p>GET 10% OFF THESE PRODUCTS</p>",
        "button_label": "CLAIM 10% OFF",
        "button_link": "",
        "button_style": "primary",
        "autoplay": false,
        "stop_autoplay": true,
        "show_arrows": true,
        "slideshow_speed": 1.1,
        "slideshow_delay": 3,
        "image_ratio": "portrait",
        "image_fit": "cover",
        "show_two_cards": true,
        "show_secondary_image": true,
        "show_sku": false,
        "show_vendor": false,
        "show_collection_name": false,
        "show_color_swatch": false,
        "show_desc": false,
        "margin_top": "xs",
        "margin_bottom": "xs"
      }
    },
    "featured_product_8HGPBD": {
      "type": "featured-product",
      "blocks": {
        "tags_hJjHhz": {
          "type": "tags",
          "settings": {}
        },
        "title_gR84DL": {
          "type": "title",
          "settings": {}
        },
        "icon_with_text_fctNen": {
          "type": "icon-with-text",
          "settings": {
            "show_icon": false,
            "heading": "Heading"
          }
        },
        "price_7hQRa7": {
          "type": "price",
          "settings": {}
        },
        "variant_picker_P4N7GG": {
          "type": "variant_picker",
          "settings": {
            "picker_type": "button",
            "show_size_guide": true,
            "size_guide_header": "Header",
            "size_guide_decription": "",
            "size_guide_text": "Size Guide",
            "page": ""
          }
        },
        "buy_buttons_UaF6xT": {
          "type": "buy_buttons",
          "settings": {
            "show_dynamic_checkout": false,
            "show_quantity": false,
            "show_gift_card_recipient": false
          }
        },
        "share_PdYW4z": {
          "type": "share",
          "settings": {
            "show_share_facebook": true,
            "show_share_twitter": true,
            "show_share_telegram": true,
            "show_share_copy": true
          }
        }
      },
      "block_order": [
        "tags_hJjHhz",
        "title_gR84DL",
        "icon_with_text_fctNen",
        "price_7hQRa7",
        "variant_picker_P4N7GG",
        "buy_buttons_UaF6xT",
        "share_PdYW4z"
      ],
      "settings": {
        "heading": "SHOP OUR EXCLUSIVE NO FRIENDS TEE",
        "description": "<p>GET FREE SHIPPING WHEN YOU ORDER THIS</p>",
        "product": "no-friends-tee-rhinestones",
        "show_two": true,
        "margin_top": "s",
        "margin_bottom": "s"
      }
    }
  },
  "order": [
    "main",
    "page_LAEkMV",
    "grid_banner_LGV3NC",
    "popular_products_LP4EMj",
    "slideshow_FKzEwT",
    "popular_products_6AexhP",
    "popular_products_wwEKgH",
    "featured_product_8HGPBD"
  ]
}		</main>
		{% sections 'footer-group' %}

		{% if settings.show_back_to_top %}
			{% render 'scroll-top' %}
		{% endif %}
		{% if settings.enable_search_modal %}
			{% render 'search-modal' %}
		{% endif %}
		{%- if request.page_type != 'cart' and settings.cart_type == 'drawer' -%}
			{%- render 'cart-drawer' -%}
		{%- endif -%}

		<ul hidden>
			<li id="a11y-refresh-page-message">
				{{ 'accessibility.refresh_page' | t }}
			</li>
		</ul>

		<script>
			{% capture content %}{% include 'quickview' %}{% endcapture %}
			let content = {{ content | json }};
		</script>

		<script>
			window.routes = {
				cart_add_url: '{{ routes.cart_add_url }}',
				cart_change_url: '{{ routes.cart_change_url }}',
				cart_update_url: '{{ routes.cart_update_url }}',
				cart_url: '{{ routes.cart_url }}',
				predictive_search_url: '{{ routes.predictive_search_url }}'
			};

			window.cartStrings = {
				error: `{{ 'sections.cart.cart_error' | t }}`,
				quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`,
				empty: `{{ 'general.cart.empty_cart' | t }}`,
				shop_now: `{{ 'customer.account.account_button_shop' | t }}`,
				collections_url: `{{ routes.collections_url | sort_by: 'best-selling' }}`
			}

			window.variantStrings = {
				addToCart: `{{ 'products.product.add_to_cart' | t }}`,
				soldOut: `{{ 'products.product.sold_out' | t }}`,
				unavailable: `{{ 'products.product.unavailable' | t }}`,
				unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`
			}

			window.theme = {
				moneyFormat: {{ shop.money_format | json }},
				quickviewText: `{{ settings.quickview }}`,
				quickviewMore: `{{ 'general.card.view__more' | t }}`
			}
		</script>

		{%- if settings.predictive_search_enabled -%}
			<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
			<script
				src="{{ 'predictive-search.js' | asset_url }}"
				defer="defer"
			></script>
		{%- endif -%}
	</body>
</html>
